/**
  css for et bibliotek med custom components for
  å manipulere databasen
**/


:root {
  --light-grad: linear-gradient(125deg, rgba(255,255,255,0), rgba(255,255,255,.16));
  --dark-grad: linear-gradient(125deg, rgba(0,0,0,0), rgba(0,0,0,.16));
}


#main {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    ". view .";
}

#main > * {
    justify-self: center;
}

#table {
    grid-area: view;
}

#form {
    grid-area: editor;
}

home-bar {
   /* --grad: var(--light-grad); */
}

db-table {
    width: 40em;
   --alternate: slategray;
   --head: bisque;
}

@media screen and (max-width: 850px) {
    #username , #info { display:none; }
    #main {
        grid-template-columns: 1fr;
        grid-template-areas:
        "editor"
        "view";
    }
  }