#main {
    display: grid;
    place-items: center;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    border: solid green 1px;
}
#main > div {
    background-color: whitesmoke;
    border: solid gray 1px;
    border-radius: 8px;
    min-width: 20em;
    min-height: 13em;
}
h1 {
    text-align: center;
}
