body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.programfag {
    color:green;
}
.felles {
    color: blue;
}
.eksamen {
    color: red;
}

input.feil {
    background-color: red;
    color:white;
}