#snoopy {
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 90px;
    background: url("bilder/snoopy.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: gaaTur 3s linear infinite;
}

@keyframes gaaTur {
    0% { top:0; left: 0;}
    100% { top:0; left: 90%; }
}