#main {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-rows: 100px 100px 100px; 
  grid-template-areas:
    ".... editor  view ..."
    ".... editor  view ..."
    ".... editor  view ...";
}

#main > * {
    justify-self: center;
}

#table {
    grid-area: view;
    
}

#form {
    grid-area: editor;
}
