#main {
    position: relative;
    width: 800px;
    height: 600px;
    background: rgba(160,0,0,0.04);
    overflow: hidden;
}

#poeng {
    position: absolute;
    left: 810px;
    top: 10px;
    width: 6em;
    height: 2em;
    background-color: darkolivegreen;
    color: aliceblue;
    border-radius: 0.5em;
    text-align: center;
    padding-top: 0.8em;
}

.blink {
    border: solid 2px green;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.sprite {
    position: absolute;
}
.sprite.hidden {
    display: none;
}

#tank {  
    left: 10%;
    top: 10%;
    width: 34px;
    height: 27px;
    border: 1px solid black;
    transform-origin: 13px 13px;
    box-shadow: 2px 2px 2px gray;
}

#tank::after {
    content: "x";
    color:rgba(0,0,0,0);
    position: absolute;
    left: 7px;
    top: 4px;
    width: 21px;
    height: 18px;
    background-color: gray; 
}

#tank::before {
    content: ".";
    color:rgba(0,0,0,0);
    position: absolute;
    left: 23px;
    top: 11px;
    width: 27px;
    height: 3px;
    background-color: black;
}

#skudd {
    right: 10%;
    top: 10%;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
}

.h0 {  background-color: rgb(200,0,0); }
.h1 {  background-color: rgb(180,20,20); }
.h2 {  background-color: rgb(160,40,40); }
.h3 {  background-color: rgb(140,60,60); }
.h4 {  background-color: rgb(120,80,80); }
.h5 {  background-color: rgb(100,100,100); }
.h6 {  background-color: rgb(80,120,120); }
.h7 {  background-color: rgb(60,140,140); }
.h8 {  background-color: rgb(40,160,160); }
.h9 {  background-color: rgb(20,200,200); }