#space {
    position: relative;
    background-image: url("sky.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

#ground {
    background-image: url("sky.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -600px;
    height: 10vh;
}

#info {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    border: solid gray 1px;
    left: 20px;
    top: 20px;
}


#tank {
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: red;
    border: solid gray 1px;
    right: 20px;
    top: 20px;
}

#right {
    position: absolute;
    bottom: 60px;
    width: 5px;
    height: 90px;
    right:-5px;
    background-color: black;
    border: solid white 1px;
    border-radius: 3px;
    transform-origin: bottom left;
}

#logo {
    font-size: 1.3em;
    position: absolute;
    top: 80px;
    left:-10px;
    transform: rotate(-90deg);
}

#left {
    position: absolute;
    bottom: 60px;
    width: 5px;
    height: 90px;
    left:-5px;
    background-color: black;
    border: solid white 1px;
    border-radius: 3px;
    transform-origin: bottom right;
}


#drivstoff {
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: green;
    border: solid gray 1px;
    left: 0px;
    bottom: 0px;
}

#spacex {
    position: absolute;
    top: -200px;
    left: calc(50vw - 20px);
    width: 40px;
    height: 250px;
    background-color: whitesmoke;
    border: solid gray 1px;
    border-radius: 5px;
}

#spacex:after {
    content: "";
    display:block;
    position: absolute;
    width: 25px;
    height: 10px;
    bottom: 10px;
    right: -25px;
    background-color: gray;
    transform: rotate(5deg);
}


#spacex:before {
    content: "";
    display:block;
    position: absolute;
    width: 25px;
    height: 10px;
    bottom: 10px;
    left: -25px;
    background-color: gray;
    transform: rotate(-5deg);
}