#controll {}
#processor {}
#registers {}
#alu {}
#memory {}
#input {}
#output {}
#cpu {
    left: 100px;
    top: 50px;
    width: 350px;
    height: 350px;
    background-color: bisque;
    border: solid black 2px;
    border-radius: 10px;
}

.firkant {
    position: absolute;
    left:0;
    top:0;
    width: 100px;
    height: 100px;
    background-color: green;
}