div.soyle {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: blue;
    margin: 4px;
    margin-left: 3em;
    color:white;
    padding: 2px;
}

div.soyle:before {
    position: absolute;
    content: attr(data-aar);
    display: block;
    left: -3em;
    top: 3px;
    color: blue;
}


div.soyle.valgt {
    background-color: green;
}

.fade {
    position: relative;
    margin: 10px;
    margin-top: 2em;
    padding: 20px;
    min-width:30em;
    max-width: 50em;
    border: solid gray 1px;
    border-radius: 20px;
    background-color: whitesmoke;
    opacity: 0;
    animation: fade 20s linear forwards;
}
.fade:before {
    content:"Resultat av tester";
    font-size: 1.3em;
    color: blue;
    position: absolute;
    top: -1em;
    left: 3em;
}


@keyframes fade {
    40% { opacity: 1;}
    90% { opacity: 1;}
    100% { opacity: 0;}
}