#box {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: blue;
    border: solid pink 20px;
}

#fuggel {
    position: absolute;
    top:210px;
    left: 250px;
    background-color: greenyellow;
    width: 40px;
    height: 60px;
    border-radius: 5px;
    transition: 50ms;
}