h1 {
    color:blue;
    height: 8vh;
    text-align: center;
}

body {
    background-color: whitesmoke;
}

#julekal {
    background-image: url("jul.png");
    background-size: cover;
    background-position: center;
    border: solid 1px gray;
    width: 90vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}

.luker {
    width: 120px;
    height: 60px;
    border: solid red 1px;
    text-align: center;
    background-image: none;
    background-position: center;
    background-size: 0%;
    background-repeat: no-repeat;
}


.luker:nth-child(1):hover {
    background-image: url("b1.png");
    animation: reveal 2s forwards;
}
@keyframes reveal {
    100% { background-size: 100%;}
}

#b1 {
    opacity: 0;
}

#b1:hover {
    opacity: 1;
}