#varer {
    display: flex;
    flex-wrap: wrap;
    
}

#varer > div.bilder {
    width: 200px;
    height: 150px;
    background-image: url("../media/noImage.png");
}

#meny {
   position: absolute;
   top: 65px;
   left: 10px;
   background-color: rgb(227, 227, 227);
   border: solid gray 1px;
   border-radius: 4px;
   box-shadow: 2px 2px 2px gray;
   opacity: 1;
}
#meny > ul {
    list-style: none;
    margin: 5px;
    padding: 3px;
}

db-select {
    opacity: 0.4;
}

#korg>div,
#vareliste>div {
    width: 12em;
}
#korg,
#vareliste {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
}

#korg img,#vareliste img {
    width: 150px;
    height: 150px;
    min-width:150px;
    min-height: 150px;
}

#kunder {
   display: flex;
   flex-wrap: wrap;
}

.liste > li {
    width: 14em;
}


.liste > li > div {
    margin: 2px;
}