:root {
  --display: grid;
  --gridlate: repeat(6, 1fr);
  --marg: 1em;
  --topmarg: 1em;
  --width: 200px;
  --gg:6;
}

@media all and (max-width: 1450px) {
  :root {
    --gridlate: repeat(4, 1fr);
  }
}

@media all and (max-width: 950px) {
  :root {
    --gridlate: repeat(3, 1fr);
    --marg: 0.5em;
  }
}

@media all and (max-width: 600px) {
    :root {
        --gridlate: repeat(2, 1fr);
        --marg: 0.2em;
    }
  }

@media all and (max-width: 450px) {
  :root {
    --display: flex;
    --marg:auto;
    --topmarg: 1em;
    --width: 300px;
  }
}

#main {
  display: var(--display);
  grid-template-columns: var(--gridlate);
  flex-direction: column;
}

#main > div {
    width: var(--width);
    height: calc(var(--width) - 50px);
    border: solid gray 1px;
    margin: var(--marg);
    margin-top:var(--topmarg);
}

#main > div:nth-of-type(odd) {
    background-color: red;
}