#game {
  position: relative;
  width: 600px;
  height: 600px;
  border: solid 1px gray;
  background-color: whitesmoke;
}

#game div {
  position: absolute;
}

.tree {
  width: 5px;
  height: 25px;
  background-color: teal;
}

.bird {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
}

.fly {
  width: 25px;
  height: 38px;
  background-image: url("barn.png");
  background-position-x: 0px;
  background-size: 165px;

}
