#side1, #side2 {
    background-color: whitesmoke;
    min-width: 40em;
    min-height: 20em;
    margin: 1em;
}

#side1.hidden, #side2.hidden,
.hidden {
    display: none;
}

#ramme {
    position: relative;
    width: 16cm;
    height: 60vh;
    border: solid gray 1px;
    background-color: cadetblue;
    border-radius: 5px;
    margin-top: 1.2cm;
}

.faner {
  position: relative;
  height: 16px;
  display: inline-block;
  border: solid gray 1px;
  border-radius: 3px;
  top: -28px;
  padding: 5px;
}

.faner.active {
    background-color: cadetblue;
    height: 20px;
    border-bottom: none;
}

.kode {
    margin: 10px;
    padding: 5px;
    position: relative;
    width: 90%;
    height: 50vh;
    border: solid gray 1px;
    background-color: antiquewhite;
    white-space: pre;
    overflow: scroll;
}