#hovedside {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#hovedside > div {
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  width: 220px;
  height: 220px;
  border:solid 1px gray;
}

#hovedside >div:nth-of-type(1) {    background-image: url("ap.png"); }
#hovedside >div:nth-of-type(2) {    background-image: url("frp.jpg"); }
#hovedside >div:nth-of-type(3) {    background-image: url("hoyre.png"); }
#hovedside >div:nth-of-type(4) {    background-image: url("krf.jpg"); }
#hovedside >div:nth-of-type(5) {    background-image: url("mdg.png"); }
#hovedside >div:nth-of-type(6) {    background-image: url("pir.png"); }
#hovedside >div:nth-of-type(7) {    background-image: url("raudt.png"); }
#hovedside >div:nth-of-type(8) {    background-image: url("sp.png"); }
#hovedside >div:nth-of-type(9) {    background-image: url("sv.jpg"); }
#hovedside >div:nth-of-type(10) {    background-image: url("venstre.png"); }

#slide {
    background-image: url("bildegalleri01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 320px;
    animation: slide 6s ease  infinite ;
    width: 100vw;
    height: 100vh;
}

@keyframes slide {
    0% { background-image: url("bildegalleri01.jpg");}
   28% { background-image: url("bildegalleri01.jpg");}
   33%  { background-image: url("bildegalleri02.jpg");}
   60%  { background-image: url("bildegalleri02.jpg");}
   66%  { background-image: url("bildegalleri03.jpg");}
   95%  { background-image: url("bildegalleri03.jpg");}
}

#partiene {
    position: absolute;
    left:0;
    top: 0;
}

#partiene > div {
    position: absolute;
    left: -120vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

#partiene > div.show {
    left:0;
}

video {
    width: 500px;
    height: 200px;
    margin-left: calc(50vw - 250px);
    margin-top: calc(50vh - 100px);
}

