#meny {
    position: relative;
    background-image: url("../media/meny.png");
    width: 1069px;
    height: 598px;
    background-size: cover;
    background-position: center;
}

#Granstua,
#Granbo {
    position: absolute;
    width: 20px;
    height: 20px;
    border:solid red 1px;
    left: 569px;
    top: 280px;
}

#Granbo {
    left: 637px;
    top: 320px;
}

div.info.show:before,
div.tags:after {
  content: attr(data-navn);
  position: absolute;
  top: -1.3em;
  color: white;
  text-shadow: 3px 3px 5px black;
}

div.info {
    position: absolute;
    opacity: 0;
    transition: 2s;
    left: -600px;
    top: 2em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 3px 3px 5px black;
    box-shadow: 4px 4px 4px black;
}

div.info.show {
    width: 500px;
    height: 500px;
    border: solid gray 1px;
    top: 2em;
    left: 2em;
    opacity: 1;
    background-color: rgba(200,200,200,0.2);
}

div.info.show:after {
    content: ">";
    font-size: 3em;
    position: absolute;
    color: blue;
    text-shadow: 3px 3px 5px white;
    top: 200px;
    right: 5px;
}

#Granboinfo.nr01 {
    background-image: url("../media/granbo01.jpg");
}
#Granboinfo.nr02 {
    background-image: url("../media/granbo02.jpg");
}

#Granstuainfo.nr01 {
    background-image: url("../media/granstua01.jpg");
}

#Granstuainfo.nr02 {
    background-image: url("../media/granstua02.jpg");
}

#fiml {
    position: absolute;
    top: 30px;
    left: 850px;
    width: 50px;
    height: 50px;
    background-color: rgba(240, 248, 255, 0.13);
    border: solid gray 1px;
}

#fiml > video {
    opacity:0;
}

#fiml:hover {
    left: 300px;
}

#fiml:hover > video{
    opacity: 1;
}

#fiml:after {
    position: absolute;
    left: 0;
    top: 0;
    content:"Se film";
    color:white;
}