:root {
    --fyll:10px;
}



header {
    color:green;
    font-size: 1.2em;
    padding: var(--fyll);
    padding-bottom: 20px;
}

article {
    font-size: 1.1em;
    padding: var(--fyll);
}

#liste {
    width: 90vw;
    min-height: 50vh;
    border: 2px solid red;
    padding: 1em;
}

.kunde {
  background-color: whitesmoke;
}