#game {
  position: relative;
  width: 600px;
  height: 600px;
  border: solid 1px gray;
  background-color: whitesmoke;
}

#game div {
  position: absolute;
}

.tree {
  width: 25px;
  height: 25px;
  background-color: teal;
  border-radius: 50%;
  z-index:3;
}

.santa {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  z-index:2;
}

.child {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}
