.fig {
    position: absolute;
    width: 112px;
    height: 112px;
    left: 0px;
    top:0px;
    background-image: url("walking2.png");
    background-position-x: 0; 
    opacity: 1; 
}

#main {
    position: relative;
}

#fig1 {
    background-position-y: calc( -118px * 2 );
    animation: legs 1s steps(8) infinite,
       walk 18s linear forwards;
}

@keyframes legs {
    100% { background-position-x: -894px;}
}

@keyframes walk {
    99.9% { left: 80vw; opacity: 1; } 
    100% { left: 80vw; opacity: 0; }
}