#sky {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 40px;
  grid-auto-rows: minmax(40px, auto);
}

.star {
  position: relative;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-color: #FFFFD2;
  border-radius: 50%;
  animation: blink 1s alternate linear infinite;
}

@keyframes blink {
    0% { 
        background-color: #fafa1a; 
        width: 10px;
        height: 10px;
    }
    100% { 
         background-color: rgb(239, 238, 212); 
         width: 2px;
         height: 2px;
    }
}

#snow {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("snow-hills.jpg");
    background-size: 1282px;
    background-repeat: no-repeat;
    background-position-y: 0px;
}

#santa {
    position: absolute;
    left: -250px;
    top:50px;
    width: 250px;
    height: 180px;
    animation: drive 5s 1s linear infinite; 
    background-image: url("santa.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 0px;
}

@keyframes drive {
    0% { left: -250px; }
   100% { left: 150vw; } 
}

.pakke {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 8px;
    height: 30px;
    background-color: red;
    border-left: solid green 21px;
    border-right: solid green 21px;
    animation: drop 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes drop {
    0% { top: 100px;    }
    100% { top: 80vh;     }
  }

@keyframes dale {
  0% { top: 0px;    }
  100% { top: 90vh;     }
}

.snow {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    animation: dale 5s linear infinite;
    animation-fill-mode: forwards;
}