#sky {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 40px;
  grid-auto-rows: minmax(40px, auto);
}

.star {
  position: relative;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  margin-left:0px;
  background-color: #FFFFD2;
  border-radius: 50%;
  animation: blink 1s alternate linear infinite;
}

@keyframes blink {
    0% { 
        margin-left: -3px;
        background-color: #fafa1a; 
        width: 4px;
        height: 4px;
    }
    100% { 
         background-color: rgb(239, 238, 212); 
         width: 2px;
         height: 2px;
         margin-left:2px;
    }
}

#dark {
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.477);
    width: 100vw;
    height: 100vh;
    animation: nightfall 10s;
    animation-fill-mode: forwards;
}

@keyframes nightfall {
    0% {  background-color: rgba(0, 0, 0, 0.0);}
   100% {  background-color: rgba(0, 0, 0, 0.677);}
}

#kanon {
    position: absolute;
    left: 20px;
    bottom: -170px;
    width: 20em;
    height: 20em;
    background-image: url("kanon.png");
    background-size: 100px;
    background-repeat: no-repeat;
}

#snow {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("snow-hills.jpg");
    background-size: 1282px;
    background-repeat: no-repeat;
    background-position-y: 0px;
}

#santa {
    position: absolute;
    left: -250px;
    top:50px;
    width: 250px;
    height: 180px;
    animation: drive 5s 1s linear infinite; 
    background-image: url("santa.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 0px;
    filter: drop-shadow(16px 16px 20px blue);
}

@keyframes drive {
    0% { left: -250px; }
   100% { left: 150vw; } 
}

.pakke {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 8px;
    height: 30px;
    background-color: red;
    border-left: solid green 21px;
    border-right: solid green 21px;
    animation: drop 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes dale {
    0% { top: 100px;   margin-left:200px; }
    10% { top: 200px;   margin-left:10px; }
    20% { top: 300px;   margin-left:0px; }
    100% { top: 80vh;  margin-left:-300px;  }
  }

@keyframes drop {
  10% { top: 0px;    }
  100% { top: 90vh;     }
}

.powder,
.snow {
    position: absolute;
    left: 0px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    animation: dale 5s linear infinite;
    animation-fill-mode: forwards;
}

.snow {
    margin-left:30px;
    top:0;
}
.powder {
    bottom: 100px;
    animation: fyke 5s linear infinite;
}


@keyframes fyke {
    0% { left:   5vw;    bottom:100px; }
    10% { left:  10vw;    bottom:150px; }
    20% { left: 20vw;    bottom:260px; }
    30% { left: 30vw;   bottom:370px; }
    40% { left: 40vw;   bottom:400px; }
    50% { left: 50vw;   bottom:420px; }
    60% { left: 60vw;   bottom:350px; }
    70% { left: 70vw;   bottom:300px; }
    80% { left: 80vw;   bottom:260px; }
    90% { left: 90vw;   bottom:180px; }
   100% { left: 100vw; bottom: 100px;    }
  }