.brikke {
    position: absolute;
    left: 0;
    top:0;
    width: 26px;
    height: 12px;
    background-color: aqua;
    border: solid 1px gray;
}

#info {
    min-height: 3em;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
}

#brett {
    position: relative;
    width: 900px;
    height: 500px;
    border: solid green 1px;
    margin: 2em;
}

.plate {
    position: absolute;
    top: 20px;
    left: 200px;
    width: 150px;
    height: 10px;
    background-color: blue;
    border: solid gray 1px;
    transition: 50ms; 
}

.ball {
    position: absolute;
    top: 40px;
    left: 200px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    border: solid gray 1px;
    transition: 50ms;
}

.hidden {
    display:none;
}