#box {
    width: 500px;
    height: 500px;
    border:solid green 1px;
}

.bounce,
.ball {
    position: absolute;
    top:0;
    left:0;
    width: 10px;
    height: 10px;
    border:solid green 1px;
    background-color: blue;
    border-radius: 50%;
}

.bounce {
    background-color: green;
    width:20px;
    height: 20px;
}