#year, #month {
    position: relative;
    width: 20em;
    border: solid gray 1px;
    height: 2em;
    text-align:center;

}

#ydiv, #mdiv {
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center; 
}

#nextm, #prevm,
#nexty, #prevy {
  width: 2em;
  height: 2em;
  background-color: goldenrod;
  text-align: center;
}

#kalender {
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
#dagene,
#ddiv {
    width: 18em;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center; 
}

#dagene > div {
   color:blue;
   margin: 4px;
}

.merk {
    border: solid red 1px;
    border-radius: 50%;
}