#starsnstripe {
    width: 100vw;
    height: 100vh;
    background-image: 
    radial-gradient(
        circle at 70px 70px, 
        white 0, 
        white 20px, 
        rgba(0,0,0,0) 25px, 
        rgba(0,0,0,0)
    ),

    linear-gradient(
        0deg, 
        white 25%,
        white 27.5%,
        red 28%,
        red 28.5%,
        red 30%,
        red 30.1%,
        white 30.5%,
        white 31%,
        white 47.5%,
        red 48%,
        red 48.5%,
        red 50%,
        red 50.1%,
        rgba(0, 0, 0, 0) 50.5%
        ),
    linear-gradient(
        90deg,
        blue,
        blue 50%,
        rgba(0,0,0,0) 50.1%,
        rgba(0,0,0,0) 50.5%
    ),
    linear-gradient(
        0deg, 
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 27.5%,
        red 28%,
        red 28.5%,
        red 30%,
        red 30.1%,
        rgba(0, 0, 0, 0) 30.5%,
        rgba(0, 0, 0, 0) 31%,
        rgba(0, 0, 0, 0) 47.5%,
        red 48%,
        red 48.5%,
        red 50%,
        red 50.1%,
        rgba(0, 0, 0, 0) 50.5%,
        rgba(0, 0, 0, 0) 67.5%,
        red 68%,
        red 68.5%,
        red 70%,
        red 70.1%,
        rgba(0, 0, 0, 0) 70.5%,
        rgba(0, 0, 0, 0) 70.7%
        );

}